//*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* The 1300px Break Points *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*

@mixin media-desktop {
    @media screen and (min-width: break-point(break-point-desktop)) {
        @content;
    }
}
//*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* The 800px Break Points *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
@mixin media-tablet {
    @media screen and (max-width: break-point(break-point-tablet)) {
        @content;
    }
}
//*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* The 600px Break Points *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
@mixin media-medium {
    @media screen and (max-width: break-point(break-point-medium)) {
        @content;
    }
}

//*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* The 600px Break Points *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
@mixin media-small {
    @media screen and (max-width: break-point(break-point-small)) {
        @content;
    }
}


::selection {
    background-color: var(--color-primary);
}
@import '_1.reset';
@import '_2.variables';
@import '_3.utilities';
@import '_4.header';
@import '_5.showcase';
@import '_6.motto';
@import '_7.features';
@import '_8.trainers';
@import '_9.testimonials';
@import '_10.clients';
@import '_11.register';
@import '_12.footer';
//*-*-*-*-*-*-*-*-*-*-*- Placeholder Styles *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
// Background Properties
%bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
// Section Padding
%sec-padding {
    padding: 6vh 4vw;
}
// Styles for section heading (h2)
%sec-heading {
    font-size: font-size(font-size-medium);
    font-weight: font-weight(font-weight-light);
    letter-spacing: 0.2rem;
    color: var(--color-quinary);
}
// Styles for Section paragraphs (p)
%sec-para {
    font-size: font-size(font-size-small);
    color: var(--color-quinary);
    font-family: "Balsamiq Sans", cursive;
    letter-spacing: 0.2rem;
  }
//   Styles for section h3
%sec-h3 {
    font-size: font-size(font-size-small);
    color: var(--color-quinary);
} 
//   Styles for section h4 
%sec-h4 {
    color: var(--color-quinary);
}
//*-*-*-*-*-*-*-*-*-*-*- Scroll to Top to buttom  *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
.scroll {
    position: fixed;
    bottom: 70rem;
    right: 4rem;
    height: 4rem;
    width: 4rem;
    background-image: url('../img/scroll/scroll.svg');
    background-repeat: no-repeat;
    background-color: var(--color-secondary-m);
    background-size: contain;
    background-position: center;
    padding: 1rem;
    border-radius: 50%;
    z-index: 30;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}

.scroll.active {
    visibility: visible;
    opacity: 1;
    bottom: 4rem;
}
//*-*-*-*-*-*-*-*-*-*-*- Dark Mode Smooth Transition For All HTML Elements *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
html.transition,
html.transition *,
html.transition *::before,
html.transition *::after {
    transition: all 0.5s !important;
    transition-delay: 0 !important;
}